---
---

<footer>
	<div class="social-links">
    <a href="https://github.com/brenobragalha" target="_blank">
      <span class="sr-only">Visit my GitHub profile</span>
      <i class="fa-brands fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://x.com/brenobragalha" target="_blank">
      <span class="sr-only">Follow me on X</span>
      <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://mastodon.social/@brenobragalha" target="_blank">
      <span class="sr-only">Follow me on Mastodon</span>
      <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/breno-bragalha-771a41355" target="_blank">
      <span class="sr-only">Connect with me on LinkedIn</span>
      <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="mailto:bragalhabreno.dev@icloud.com" target="_blank">
      <span class="sr-only">Send me an email</span>
      <i class="fa-solid fa-envelope" aria-hidden="true"></i>
    </a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em;
		background-color: var(--white);
    box-shadow: 0 -1px 0 0 var(--gray-light);
	}
  i {
    font-size: 1.5em;
  }
	.social-links {
		display: flex;
    flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--black);
	}
	.social-links a:hover {
		transform: scale(1.1);
	}
</style>
